name: Markdown Linting

on:
  pull_request:
    paths:
      - '**.md'
      - '.github/workflows/markdown-lint.yml'
      - '.markdownlintrc.json'
  push:
    branches:
      - main
    paths:
      - '**.md'
      - '.github/workflows/markdown-lint.yml'
      - '.markdownlintrc.json'

jobs:
  markdown-lint:
    runs-on: ubuntu-24.04
    name: Lint Markdown files

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run markdownlint
        uses: nosborn/github-action-markdown-cli@v3.3.0
        with:
          files: .
          config_file: .markdownlintrc.json
          ignore_files: node_modules/
